# Web3Forms Access Key (Get it from https://web3forms.com/)
VITE_WEB3FORMS_ACCESS_KEY=YOUR_ACCESS_KEY_HERE

# Personal Information
VITE_USER_NAME=Abhishek Patel
VITE_USER_EMAIL=patelabhishek7654@gmail.com

# Social Links
VITE_GITHUB_URL=https://github.com/Abhii7554
VITE_GITHUB_USERNAME=@Abhii7554
VITE_LINKEDIN_URL=https://www.linkedin.com/in/abhishek-patel-595055286
